 body {
    padding: 0; margin: 0;
    overflow:hidden;
    } 


    @font-face {
font-family: "Lucida Console";
src: url("lucida-console.ttf");

}


/*@font-face {
font-family: "Harabara Bold";
src: url("css/fonts/Harabara.eot");
}

*/
  canvas {
      border: solid 2px; width:800px; 
      display:inline;
     /* position:absolute; top:0px; left:0px;*/
  }

  #styledImage {
     /*position:absolute; top:0px; left:0px;*/
      position:absolute; top:0px; left:0px;
      display:inline;
     z-index:5;
     pointer-events:none;
     display:none;
  }
  #fadingImage{
    display:none;
    position:absolute; top:0px; left:0px;
     z-index:6;
  }
  #resultImage{

    display:none;
  }

  html{
    background-color:black;
  }

  .bg{
    background-image:url("img/vista-bg.png");
    background-size:cover;
    background-position:bottom center;
    width:100vw;
    height:100vh;
    z-index:-10;
    position:absolute;
  }
#start-menu{
    position: absolute;
    left: 0px;
    bottom: 3.7%;
    width: 33%;
    z-index:9000;
    display:none;
}

#fake-start-button{
  width:100px;
  height:100px;
  position: absolute;
  left:0px;
  bottom:0px;
}


#log-off{
position: absolute;
    left: 560px;
    width: 200px;
    bottom: 3.7%;
    z-index:9001;
    display:none;

}

  #paint-icon{
    position:absolute;
    top:30px;
    left:30px;
  }

    #notepad-icon{
    position:absolute;
    top:180px;
    left:30px;
  }


    #folder-icon{
    position:absolute;
    top:30px;
    left:180px;
  }

  #desktop-bar{
    width:100vw;
    position:absolute;
    bottom:0px;
    left:0px;
  }

  #photos-ui{
    position:absolute;
    top:100px;
    right:100px;
    z-index:3;
    display:none;
  }
  #paint-UI{
    display:none;
    width:600px;
    top:400px;
    position:absolute;
    z-index:7;
  }
  #paint-UI canvas{

    position: absolute;
    top: 189px;
    bottom: 0px;
    left: 133px;
    border:none;
  }
  .paint-button{
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    background-color: rgba(0,0,0,0);
  }
  .paint-button.draw{
    top: 235px;
    left: 82px;

  }
    .paint-button.erase{
    top: 155px;
    left: 44px;
}

#paint-ui-img.erase{
  display:none;
}

#cmd-window{
  width:800px;
  z-index:2;
}

#cmd-container{
    width: 800px;
    display: inline-block;
    height: 780px;
    position: absolute;
    left:720px;
    top:60px;
    z-index:2;

}

#styledImage, #fadingImage{
  width:600px;
  height:600px;
  left:0;
  right:0;
  top:30px;
  margin:auto;
}

#textarea{
  font-family: "Lucida Console";
   position: absolute;
    top:90px;
    height: 24px;
    width: 660px;
    /*padding: 5px;*/
    left: 0px;
    overflow: hidden;
    right: 0px;
    margin: auto;
    font-size: 22px;
    z-index: 10;
    color: white;
}

#textarea.activated{
   color:#FB4AFF;
   top:auto;
    bottom: 40px;
    height: 24px;
    width: 600px;
  
}

#textarea.activated:focus{
   outline:none;
}

  .imageContainer{
    position:absolute;
/*    top:40px;
    left:20px;*/
      top:46px;
    bottom:0;
    left:0;
    right:0;
    width:700px;
    height:700px;
    margin:auto;



  }

#image-preview-container{
    position:absolute;
    bottom:30px;
    right:-120px;
    z-index:1;
    display:none;
}

#notepad-container{
    position:absolute;
    top:30px;
    right:0px;
    z-index:8;
    display:none;

}
#notepad-container #textarea{
position: absolute;
    background-color: rgba(0,0,0,0);
    border: none;
    top: 96px;
    left: 44px;
    font-size: 36px;
    width:666px;
    height:264px;
    font-family: "Lucida Console";
    overflow-y: scroll;
}
#styleImg{
  position: absolute;
    bottom: 28px;
    left: 0;
    right: 0;
    top: 0px;
    height: 394px;
    width: auto;
    margin: auto;
}

    *:focus {
    outline: none;
}
img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
     -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  }

  #intro, #outro{
    background-color:black;
    width:100vw;
    height:100vw;
    z-index:100;
    position:absolute;
    top:0px; left:0px;
  }

  #outro{
    display:none;
     z-index:100000;
  }

  #outro p{
    position:absolute;
    left: 0;
    right: 0;
    top: 0px;
    height: 600px;
    width:100%;
    margin:auto;
   color:white;
   font-size:30px;
   padding-top:400px;
   text-align:center;
   display:none;
   font-family: "Lucida Console";

  }


* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
